click==8.0.3
colorama==0.4.4
Flask==2.0.2
Flask-Migrate==2.1.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
SQLAlchemy==1.2.6
Werkzeug==0.14.1
WTForms==2.1