{% extends "base.html" %}

{% block content %}
<div>
  <h1>Page for training no. {{id}}</h1>
  <h2>Training data:</h2>
  <p>Date: {{this_training.training_date}}</p>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Exercise</th>
        <th scope="col">Repeats</th>
        <th scope="col">Weight</th>
        <th scope="col">Time</th>
        <th scope="col">Total kcals</th>
      </tr>
    </thead>
    <tbody>
      {% for row in result_joined_clean %}
      <tr scope="row">
        <td>{{ row['exercise_name'] }}</td>
        <td>
          {% if row['repeats'] %}
            {{ row['repeats'] }}
          {% endif %}
        </td>
        <td>
          {% if row['weight'] %}
            {{ row['weight'] }}
          {% endif %}
          
        </td>
        <td>
          {% if row['time'] %}
              {{ row['time'] }}
          {% endif %}
        </td>
        <td>{{ row['total_kcals'] }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td style="font-weight: bold">Kcals total</td>
        <td></td>
        <td></td>
        <td></td>
        <td style="font-weight: bold">{{ kcals_total }}</td>
      </tr>
    </tbody>
  </table>
  
  
  <hr>
  <h2>Add new exercise to this training:</h2>
  <form method="POST">
    {{form.hidden_tag()}}
    {{form.exercises}}<br>
    {{form.repeats.label}}{{form.repeats}}<br>
    {{form.weight.label}}{{form.weight}}<br>
    {{form.time.label}}{{form.time}}<br>

    {{form.submit()}}
  </form>
</div>
{% endblock %}